.select-wrap{
    width:100%;
    text-align:center;
    font-size:14Px;
    border-bottom:1Px solid #dfdfdf;
}
.selector{
    position: relative;
    padding:10Px 0;
}
.selector .at-icon{
    position: absolute;
    right:20Px;
    height: 25Px;
    line-height:25Px;
}